# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/
*.egg-info/

# VSCode config
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets and keys
*.pem
*.key
*.crt
*.pub

# Terraform state and config
upload/terraform/.terraform/
upload/terraform/.terraform.lock.hcl
upload/terraform/terraform.tfstate
upload/terraform/terraform.tfstate.backup
upload/terraform/crash.log
upload/terraform/instance_ip.txt

# Docker
.dockerignore
*.tar

# PyInstaller or build artifacts
build/
dist/
*.spec

# Ansible cache
*.retry
.ansible/

# CloudWatch Agent installer
/tmp/amazon-cloudwatch-agent.deb

# Jenkins workspace (if ever mounted)
jenkins_home/

# Other temp or test files
*.bak
*.tmp
*.swp
