# -------------------------------
# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------------
# Virtual environment
.venv/
venv/
ENV/
env/
*.egg-info/

# -------------------------------
# VSCode settings
.vscode/

# -------------------------------
# System-specific files
.DS_Store
Thumbs.db

# -------------------------------
# Terraform state and config
upload/terraform/.terraform/
upload/terraform/.terraform.lock.hcl
upload/terraform/terraform.tfstate
upload/terraform/terraform.tfstate.backup
upload/terraform/crash.log

# -------------------------------
# Secrets and keys
*.pem
*.key
*.crt
*.pub

# -------------------------------
# Terraform IP output
instance_ip.txt

# -------------------------------
# Logs
*.log

# -------------------------------
# Docker build cache
*.tar
.dockerignore

# -------------------------------
# Build output
.dist/
build/
